<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{% block title %}Django Greetings{% endblock %}</title>
    <style>
      body{
      background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
    }
      .container{
      display: flex;
      flex-flow: column;
      justify-content: center;
      font-family: 'Times New Roman', Times, serif;
      text-align: center;
      margin-top: 4rem;
      gap: 50px;
    }
    .container h1{
      color: black;
      
    }
    </style>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
  </head>
  <body>
    <div class="container">
      
      {% block body %}
      {% endblock %}
    
    </div>
  </body>
</html>
